.row{
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child){ // using not: style applies to all except the one between pranthesis 
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^='col-'] {
        float: left;

        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2{
        width: calc((90%-#{$gutter-horizontal}) / 2);
    }
}