body {
    font-family: "lato",
        sans-serif;
    padding: 2rem;
    line-height: 1.7;
    color: $color-grey;
}

.heading {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &-primary--main {
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        animation-name: moveInFromLeft;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        /* animation-iteration-count: 3; */
        /* animation-delay: 5s; */
    }

    &-primary--sub {
        display: block;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 1.4rem;
        animation: moveInFromRight 2s ease-in-out;
    }
}

.heading-secondary{
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover{
        transform:skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}